{% extends 'article_base.html' %}
{% block title %}Game development | Erik Rahem{% endblock %}


{% block content %}
<img src="../static/dow-orks.jpg" id="spaceHeight" style="width:auto; height: 50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody" style="text-align: center;">
<span>
<h1>Game development</h1>
Getting started
</span>
</div>

<div class="pbody">
<span>
<img src="../static/flareon.png" id="spaceHeight" style="width: auto; height: 64;">
<b>Pixel art (2D)</b>
Use Aseprite
Practice...
Try to redraw Pokémon sprites. First maybe pixel by pixel, then as you learn try to predict the next pixels by guessing or without looking at the original image twice. Draw the same Pokémon from different games and ultimately you should be able to draw the Pokémon recognizably in your own style and way.

<b>Blender (3D)</b>

<b>Mapping</b>
Tiled

<b>Design</b>

<b>Programming</b>

<b>Composing</b>
Listen to the different components of a track.

What are your motivations for making a game?
You shouldn’t make a game if you have arbitrary and selfish reasons like fun and success, at least not only.
It should be a gift for the people who play it.

Steps:
Formulate the game design
Formulate the game development

Decide which domains to lead, share, or buy. You can make assets, buy assets, or collaborate with others.

Programming
Graphics
Music

Try different things as benchmarking and estimate your future results if you were to continue.

</span>
</div>
{% endblock %}
