{% extends 'article_base.html' %}
{% block title %}Jordan Peterson as a bridge to understanding Carl Jung | Erik Rahem{% endblock %}


{% block content %}
<img src="../static/jung.webp" id="spaceHeight" style="width:25%; height:auto; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody" style="text-align: center;">
<span>
<h1>...</h1>
...
</span>
</div>

<div class="pbody">
<span>
<b>Persona</b>
"Functional identity"

<b>Associative thinking vs. directed thinking</b>
"Learning how to think"



</span>
</div>
{% endblock %}
