{% extends 'article_base.html' %}
{% block title %}Write your own rules | Erik Rahem{% endblock %}


{% block content2 %}
<img src="../static/24-rules.jpg" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="mt-1" style="text-align: center;">
<h1 style="display: inline-block;">Write your own rules</h1>
</div>
<div class="pbody">
<span>
<b>Write your own rules to live after</b>
Read and emulate:
12 Rules for Life (Jordan Peterson)
Seneca's Letters from a Stoic
Meditations (Marcus Aurelius)
</span>
</div>
{% endblock %}
