{% extends 'article_base.html' %}
{% block title %}Fishing in Stardew Valley | Erik Rahem{% endblock %}


{% block content %}
<img src="../static/sdv-fishing.jpg" id="spaceHeight" style="width:50%; height:auto; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody" style="text-align: center;">
<span>
<h1>Fishing in Stardew Valley</h1>
I consider fishing in Stardew Valley to be a masterpiece of design.
</span>
</div>

<div class="pbody">
<span>
<b>Simplicity</b>
When we were kids, we used to play those simple kind of online games in the computer room at after-school care. I thought about this game and realized how its fishing component was a return, at least for me, to this kind of simplicity. But there is more to it.

<b>Grinding is fundamental for games – and so are gold coins </b>
Deciding to spend an entire in-game day peacefully fishing, then making good money selling the fish, for gold coins that have use in other aspects of the game is just comforting.

<b>Trivia</b>
There’s a big variety of fish, whose appearances involve the location, season, daytime, weather. They are all drawn, and show a short description. Suddenly, the game has become a dive into Wikipedia.

<b>Collecting</b>
Then there’s the fish page in the menu, captures slowly replacing the mysterious silhouettes, letting you know you are collecting them all.

The fishing itself is an okay minigame, but has progression and development involving level and items. It is great.

</span>
</div>
{% endblock %}
