{% extends 'article_base.html' %}
{% block title %}Seneca | Erik Rahem{% endblock %}


{% block content %}

<div class="pbody" style="text-align: center;">
<span>
<b>Introduction</b>
RPGs, Role Playing Games. The type of game I’m meditating on right now. What are some cool elements of it that I am inspired by right now? There are class systems, skill-paths, and much, much more to think about. I played Stardew Valley and Skyrim last week.
</span>
</div>

<div class="pbody">
<span>
<b>Fishing in Stardew Valley</b>
Could be considered a game component. The fishing is generally not frustrating. It is enjoyable. It earns the player a lot of gold – spending an entire in-game day near water for example. There are lots of different kinds of fish to capture. Each one adding to the initially silhouette-secretive picture list. To top it off, the sprites have been drawn with care, and each fish has a short and basic description that makes it feel interesting. And the full game consist of even more components.

<b>Game systems</b>
Like classes, skill-trees, spells, customization. Should include variety and choice, and have its own logic. I want to design and create something, the process of doing it being interesting to me; letting me contemplate with joy. Progression is important. Should be something like choosing one path among many, but many times.

<b>Graphics</b>
There are differences between 2D and 3D. There are differences between high and low quality. I will be drawing pixel art for the next two weeks. Before I decide whether or not I’ll try weeks again shortly after, or, give 3D a shot.

</span>
</div>
{% endblock %}
