{% extends 'article_base.html' %}
{% block title %}Vinland Saga | Erik Rahem{% endblock %}

{% block style2 %}
{% endblock %}

{% block content2 %}
<img src="../static/thorfinn.jpg" id="spaceHeight" style="width:25%; height:auto; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody" style="text-align: center;">
<h1>Vinland Saga</h1>
...
</div>

<div class="pbody">
<span>
<b>Introduction</b>
People should read and watch Vinland Saga. It's a lot about violence, first as fun, then examined more deeply. The characters are moving. The whole story and progression feels natural and coherent unlike Naruto for example and Attack on Titan.

<b>Themes</b>
Violence, suffering, love
</span>
</div>
{% endblock %}
