{% extends 'article_base.html' %}
{% block title %}Book list | Erik Rahem{% endblock %}


{% block content %}
<img src="../static/books.jpg" id="spaceHeight" style="width:25%; height:auto; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody" style="text-align: center;">
<span>
<h1>Book list</h1>    
My personal book list
</span>
</div>

<div class="pbody">
<span><b>My personal book list</b>
The Horse, the Wheel, and Language
Book about the Proto-Indo-Europeans, who by the way were white.

The Interpretation of Dreams
A psychological must-read

The Collected Works of C. G. Jung
</span>
</div>
{% endblock %}
