{% extends 'article_base.html' %}
{% block title %}Carl Jung | Erik Rahem{% endblock %}


{% block content %}
<img src="../static/carl-jung.jpg" id="spaceHeight" style="width:25%; height:auto; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody" style="text-align: center;">
<span>
<h1>Carl Gustav Jung</h1>    
</span>
</div>

<div class="pbody">
<span>
<b>Psychological Types</b>
I think it's good because it gives people perspective on how they can appreciate typology.

Includes descriptions of common thinking that people sabotage their lives with.

<b>The Psychogenesis of Mental Disease</b>
Very interesting book. Demonstrates the assocation-process disturbances in mentally ill people. Gives insight into the mind of psychotics, which is really useful.

<iframe width="560" height="315" src="https://www.youtube.com/embed/3iLiKMUiyTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

I have not watched these yet.

</span>
</div>
{% endblock %}
