{% extends 'article_base.html' %}
{% block title %}Music | Erik Rahem{% endblock %}


{% block content %}

<div class="pbody" style="text-align: center;">
<span>
<h1>Music</h1>    
</span>
</div>

<div class="pbody">
<span>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5hCoZYvVBKqOBst0qfgApe?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
The Stellaris soundtrack was good, quality.

I like classical music because it's complex, so you get joy from listening to the whole thing which can go on for hours. It's like reading a more difficult book.

How do you get started with music? Deconstruct and identify the sounds in a track.
</span>
</div>
{% endblock %}
