{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block style %}
    .pbody {
        width: 50%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        margin: auto;
        white-space: pre-wrap;
    }

    b, h1 {
        color: #0080FF;
        transition: .5s;
        background-color: black;
    }

    b:hover, h1:hover {
      color:white;
    }    
{% block style2 %}
{% endblock %}
{% endblock %}

{% block content %}
{% block content2 %}
{% endblock %}
{% endblock %}

