{% extends 'article_base.html' %}
{% block title %}Careerplanner | Erik Rahem{% endblock %}


{% block content %}
<img src="../static/stem.bmp" id="spaceHeight" style="width: auto; height: 50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody" style="text-align: center;">
<span>
<h1>Careerplanner</h1>
Careerplanner.
</span>
</div>

<div class="pbody">
<span>
<a href="../static/STEM Career Planner.pdf">Click here for the Careerplanner document.</a>

Biomedicine is an example of what would've been good for me to study when I was younger, in order to be useful to the world.

I think you need to do honest benchmarks to gauge your true potential, revealing to be maybe better or worse than you expected. You also need to honestly predict your future skill before you decide to nurture it.

<img src="../static/school-performance-iq.png" id="spaceHeight" style="width: auto; height: 25%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<img src="../static/wais.png" id="spaceHeight" style="width: auto; height: 50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<img src="../static/the-bell-curve.jpg" id="spaceHeight" style="width: auto; height: 50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Zy4a8T45GiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: block; margin: 0 auto; border: 1px solid #0080FF;"></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OCUhES_3-LE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: block; margin: 0 auto; border: 1px solid #0080FF;"></iframe>
</span>
</div>
{% endblock %}
