{% extends 'article_base.html' %}
{% block title %}Game design | Erik Rahem{% endblock %}

{% block style2 %}
body {
    text-align: center;
}
{% endblock %}

{% block content2 %}
<div class="pbody">
<h1>Game design</h1>
Design as a standalone area in game development.
I want to write a book or something about game design after learning ideas of it from these books.

</div>

<img src="../static/designing-virtual-worlds.jpg" id="spaceHeight" style="width: auto; height: 50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<div class="pbody">
<b>Designing Virtual Worlds</b>
Designing Virtual Worlds is an old classic that I want to read.
I'm currently reading it.



<img src="../static/fundamentals-of-game-design.jpg" id="spaceHeight" style="width: auto; height: 50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<img src="../static/the-art-of-game-design.jpg" id="spaceHeight" style="width: auto; height: 50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9YqdutJLIi8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="spaceHeight"></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/evb_c1mwyWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/kJy7LF789lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img src="../static/concernedape-tweet.png" id="spaceHeight" style="width: 550; height: 345; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody">
<span>

ConcernedApe is a philosopher, and his game is imbued with his ideas of life.    

Article link: <a href="https://www.gq.com/story/stardew-valley-eric-barone-profile">Valley Forged: How One Man Made the Indie Video Game Sensation Stardew Valley</a>

Also, check out <a href="https://www.youtube.com/c/ConcernedApe">ConcernedApe's YouTube channel.</a>

</span>
</div>
{% endblock %}
