{% extends 'article_base.html' %}
{% block title %}Game list | Erik Rahem{% endblock %}


{% block content %}
<img src="../static/tibia.png" id="spaceHeight" style="width:25%; height:auto; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div class="pbody" style="text-align: center;">
<span>
<h1>Game list</h1>
A list of games.
</span>
</div>

<div class="pbody">
<span>
MMORPGs and RPGs

Getting attached to one's character(s)...

<b>Tibia</b>
Why you should play Tibia:
I like the grinding progression...

<b>World of Warcraft</b>
One's characters grow on one.

<b>Skyrim</b>
An interactive story. A super great game.

<b>Pokémon</b>

<b>Stardew Valley</b>

<b>Mount & Blade: With Fire and Sword</b>
Needs adjustments.

<b>Mount & Blade: Warband - Napoleonic Wars</b>
Great multiplayer combat.

RTS
<b>Dawn of War - Dark Crusade</b>

<b>Dawn of War II: Retribution - Last Stand</b>
Is a great game. Defending yourself and your teammates against hordes of creatures.

Why you should play Halo Infinite
</span>
</div>
{% endblock %}
