{% extends 'base.html' %}

{% block title %}
Hero Wars | Erik Rahem
{% endblock %}

{% block style %}
.pbody {
    width: 50%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin: auto;
    white-space: pre-wrap;
    text-align: center;
}

b, h1, h2 {
    color: #0080FF;
    transition: .5s;
}

b:hover, h1:hover, h2:hover {
  color:white;
}    
{% endblock %}

{% block content %}
<img src="../static/dow-battle.jpg" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">

<div style="text-align: center; margin-top: 1%;">
<h1>Hero Wars</h1>
An RTS game project idea in fantasy medieval setting, divided into game components.
</div>

<div class="pbody">
<span>
Inspired by Dawn of War I & II.
Current plan draft: use intercompatible graphics from Synty Studios' asset packs.
The main idea is to be able to bring your hero and develop him in different game modes.

A huge challenge would be the balancing and detail tweaking, everything must work perfectly together, from the speed and pace of everything, to health and combat systems, etc. This project requires a lot of effort and brains.

<div style="text-align: center">
<h2>Hero Builder (I)</h2>The joy of customization.
</div>
<img src="../static/dow-chaos-lord.jpg" id="spaceHeight" style="width:auto; height:50%; display: block; margin: -1px auto; border: 1px solid #0080FF;">
<img src="../static/last-stand-wargear.jpg" id="spaceHeight" style="width:auto; height:50%; display: block; margin: -1px auto; border: 1px solid #0080FF;">
Like in 'Dawn of War II - Last Stand' and the campaign of 'Dawn of War I' I want to offer hero development options.


<img src="../static/synty-heroes.webp" id="spaceHeight" style="width:auto; height:50%; display: block; margin: -1px auto; border: 1px solid #0080FF;">
Development: using this asset pack, endless variations of characters and equipment/items can be made.


<iframe width="560" height="315" src="https://www.youtube.com/embed/Y3az8jkS0FU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: block; margin: 0 auto; border: 1px solid #0080FF;">></iframe>
With this, spells/abilities can be easily designed.


<div style="background-color:#0080FF; height: 1px; width:100%;"></div>
<div style="text-align: center">
<h2>Assassinate (II)</h2>Simple and fun.
</div>
<img src="../static/synty-nature-map.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<img src="../static/synty-knights-town.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
With these asset packs, maps can be easily made for simple battle modes between heroes.


<div style="background-color:#0080FF; height: 1px; width:100%;"></div>
<div style="text-align: center">
<h2>Last Stand (III)</h2>Fun.
</div>
<img src="../static/dow-last-stand.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<img src="../static/synty-fantasy-rivals.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
This asset packs provides 20 different monsters, that can be used in this case for waves in a survival arena game mode, where you and your team mates' must persevere. These creatures must also have their spells/abilities designed though.


<div style="background-color:#0080FF; height: 1px; width:100%;"></div>
<div style="text-align: center">
<h2>Knight Wars (IV)</h2>RTS.
</div>
The ultimate destination for heroes, where they can fight with big armies of knights, and the like, in traditional RTS settings. Maybe factions can be added, and feature (some of) the monsters from Last Stand. More possibilities include making more types of human units available, or perhaps allow more than one hero from a player's account.

<img src="../static/franks.jpg" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<img src="../static/synty-knights.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
Standard knights could be randomly generated using this pack.


<img src="../static/synty-humans.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
This pack can be used to make more human army units, like sorcerers for example.


<div style="background-color:#0080FF; height: 1px; width:100%;"></div>
<div style="text-align: center">
<h2>Campaign (V)</h2>...
</div>

<div style="background-color:#0080FF; height: 1px; width:100%;"></div>
<div style="text-align: center">
<h2>MMORPG or RPG (VI)</h2>More.
</div>  
<img src="../static/synty-kingdom.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<img src="../static/synty-nature-rpg.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
Frankia


<img src="../static/synty-dungeons.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
<img src="../static/synty-dungeon-realms.webp" id="spaceHeight" style="width:auto; height:50%; display:block; margin: -1px auto; border: 1px solid #0080FF;">
</span>
</div>
{% endblock %}